---
layout: default
title: tags
---
<div class="article">
    <h3 class="title">{{ page.title }}</h3>
    <ul class="tags">
    {% assign tags_list = site.tags %}
    {% for tag in tags_list %}
        <li class="tags-item"><a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">
            {{ tag[0] | join: "/" }}
        </a></li>
    {% endfor %}
    </ul>

<div class="article">
{% for tag in site.tags %} 
  <h2  class="article-year" id="{{ tag[0] }}-ref" data-year="&diams;">{{ tag[0] | join: "/" }}</h2>
  <ul style="list-style: none">
    {% assign pages_list = tag[1] %}  
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if group == null or group == node.group %}
            <li style="background:#F2EEEC; padding:5px; margin:3px 0"><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
   
  </ul>
{% endfor %}
</div>
</div>
